<section class="container">
  <h2 class="titulo">Transferências</h2>
  <table class="tabela">
    <thead class="table__cabecalho">
      <th class="tabela__cabecalho__conteudo">Data</th>
      <th class="tabela__cabecalho__conteudo">Valor</th>
      <th class="tabela__cabecalho__conteudo">Destino</th>
    </thead>
    <tbody *ngIf="!!transferencias; else listaVazia">
      <tr class="tabela__linha" *ngFor="let item of transferencias">
        <td class="tabela__conteudo">{{ item?.data | date: 'short' }}</td>
        <td class="tabela__conteudo">{{ item?.valor | currency: 'BRL' }}</td>
        <td class="tabela__conteudo">{{ item?.destino }}</td>
      </tr>
    </tbody>
  </table>

  <ng-template #listaVazia>
    <p>Nenhuma operação cadastrada!</p>
  </ng-template>
</section>
